<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">
<head>
<title th:text="#{4xx.title}">4xx</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div class="jumbotron">
			<h1 class="display-3" th:text="#{4xx.title} + 4xx">4xx</h1>
			<p class="lead" th:text="#{4xx.desc}">This is a simple hero unit,
				a simple jumbotron-style component for calling extra attention to
				featured content or information.</p>
			<hr class="my-4">
			<img class="img-cat"
				src="../../static/resources/images/error/SnekoDSC03495_TP_V4.jpg"
				th:src="@{/resources/images/error/SnekoDSC03495_TP_V4.jpg}" />
		</div>
	</div>
</body>
</html>